<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045537127567-dju0buvq3vbst2udsb1k2bk25lov2snp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045537127567-dju0buvq3vbst2udsb1k2bk25lov2snp</string>
	<key>API_KEY</key>
	<string>AIzaSyDMdvQxXZR9RTME0PChY70XKZ9AT5CJaz8</string>
	<key>GCM_SENDER_ID</key>
	<string>1045537127567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.handjobs.mobile.app</string>
	<key>PROJECT_ID</key>
	<string>handjobs-notify</string>
	<key>STORAGE_BUCKET</key>
	<string>handjobs-notify.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045537127567:ios:0c97a33d7cce73fa3fc4fa</string>
	<key>DATABASE_URL</key>
	<string>https://handjobs-notify-default-rtdb.firebaseio.com</string>
</dict>
</plist>